#global-church-directory .country {
  border-bottom: 1px solid #aaa;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 10px;
}

#global-church-directory .country:first-child {
  margin-top: 0;
}

#global-church-directory .church {
  display: table-row;
  min-width: 60%;
  word-break: break-word;
}

#global-church-directory .photo {
  display: table-cell;
  max-width: 220px;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-top: 5px;
}

#global-church-directory .photo img {
  height: auto;
  max-width: 200px;
  width: 100%;
}

#global-church-directory .info {
  display: table-cell;
  font-size: 1rem;
  padding-bottom: 30px;
  padding-top: 5px;
  vertical-align: top;
}

#churchDirectorySort label {
  margin-left: 1rem;
}

#quantitiesPhrase {
  font-weight: bold;
  margin-bottom: 1.2rem;
  margin-top: 1.2rem;
}

@media (max-width: 400px) {
  #churchDirectorySort,
  #churchDirectorySort * {
    text-align: left;
  }

  #churchDirectorySort label:first-child {
    margin-top: 0.25rem;
  }
  #churchDirectorySort label {
    display: block;
    margin-left: unset;
  }
}
