#global-church-directory .country {
  border-bottom: 1px solid #aaa;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 10px;
}

#global-church-directory .country:first-child {
  margin-top: 0;
}

#global-church-directory .church {
  display: table-row;
  min-width: 60%;
  word-break: break-word;
}

#global-church-directory .photo {
  display: table-cell;
  max-width: 220px;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-top: 5px;
}

#global-church-directory .photo img {
  height: auto;
  max-width: 200px;
  width: 100%;
}

#global-church-directory .info {
  display: table-cell;
  font-size: 1rem;
  padding-bottom: 30px;
  padding-top: 5px;
  vertical-align: top;
}

#churchDirectorySort label {
  margin-left: 1rem;
}

#quantitiesPhrase {
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1.2rem;
  margin-bottom: 1.4rem;
}

@media (max-width: 640px) {
  #churchDirectorySort,
  #churchDirectorySort * {
    text-align: left;
  }

  #churchDirectorySort label:first-child {
    margin-top: 0.25rem;
  }
  #churchDirectorySort label {
    display: block;
    margin-left: unset;
  }

  #global-church-directory .church {
    display: block;
    text-align: center;
  }

  #global-church-directory .info {
    display: inline-block;
    padding-bottom: 50px;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: start;
  }

  #global-church-directory .photo {
    display: block;
    padding-bottom: 0;
    text-align: center;
    max-width: unset;
    width: 100%;
  }

  #global-church-directory .photo img {
    max-width: 250px;
  }

  #global-church-directory .photo img[src$="/church_leaders/123.jpg"],
  #global-church-directory .photo img[src$="/church_leaders/134.jpg"],
  #global-church-directory .photo img[src$="/church_leaders/135.jpg"],
  #global-church-directory .photo img[src$="/usd21.jpg"],
  #global-church-directory .photo img[errored] {
    width: 140px;
  }
}
